body {
    background-color: #F3F3F3;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

button:hover {
    cursor: pointer;
}

ion-icon {
    color: black;
}

.header ion-icon {
    width: 45px;
    height: 45px;
}

.footer ion-icon {
    width: 30px;
    height: 30px;
}

.footer input {
    color: black;
    border: none;
    font-size: 18px;
    line-height: 21.09px;
    margin-top: 12px;
    margin-bottom: 2px;
}

.header {
    background-color: white;
    width: 100%;
    height: 80px;
    padding: 0 21px;
    box-shadow: 0px 4px 6px 0px #0000000D;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.header img {
    width: 75px;
    height: 53px;
}

.content {
    margin-top: 106px;
    margin-bottom: 90px;
    width: 100%;
}

.msg {
    width: 100%;
    border-radius: 2px;
    padding: 13px 9px 13px 8px;
    margin-bottom: 4px;

    display: flex;
    flex-wrap: wrap;

    word-break: break-word;
}

.status {
    background-color: #DCDCDC;
}

.private_message {
    background-color: #FFDEDE;
}

.message {
    background-color: white;
}

.time {
    color: #AAAAAA;
    font-weight: 400;
}

.nick {
    font-weight: 700;
}

.footer  {
    background-color: white;
    width: 100%;
    height: 80px;
    padding: 0 17px;
    box-shadow: 0px -4px 6px 0px #0000000D;


    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 1;
}

.footer input::-webkit-input-placeholder {
    color: black;
    font-style: italic;
}

.footer button, .header button {
    background-color: white;
    border-style: none;
    margin: 0;
    padding: 0;
}

/* layout bonus */

.hidden {
    display: none;
}

.footer p {
    color: #505050;
    font-size: 14px;
    font-weight: 300;
    margin-top: 3px;
    margin-left: 3px;
}

.overlay {
    background-color: #00000099;
    width: 100%;
    height: 100%;

    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 2;
}

.side-bar {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;

    background-color: white;
    width: 260px;
    height: 100%;

    position: fixed;
    right: -260px;
    top: 0px;
    z-index: 3;

    transition: all .2s ease-out;
}

.contacts {
    height: 72%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.shown {
    transform: translateX(-260px);
}

.item ion-icon {
    width: 25px;
    height: 25px;
    margin-right: 6px;
}

h1 {
    font-weight: 700;
    text-align: center;
}

.side-bar .title {
    width: 100%;
    padding: 25px 45px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    /*height: 36px;*/
    margin: 0 16px 1px 18px;
    padding-top: 5.5px;
    padding-bottom: 5.5px;

    display: flex;
    align-items: center;

    position: relative;
}

.item:hover {
    cursor: pointer;
}

.item img {
    opacity: 0;
    margin-left: auto;
}

.selected img {
    opacity: 1;
}

.item p {
    word-break: break-word;
    width: 190px;
    margin-top: 5px;
}

/* tela de login */

.login {
    background-color: white;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 4;
}

.login > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login img {
    width: 130px;
    height: 92px;
    margin: 72px 0 94px;
}

.login input {
    font-size: 18px;
    line-height: 25px;
    text-align: center;

    width: 260px;
    height: 54px;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
}

.login input::-webkit-input-placeholder {
    color: #AEAEAE;
}

.login button {
    background-color: #E7E7E7;

    color: #696969;
    font-size: 18px;
    line-height: 25px;
    text-align: center;

    width: 109px;
    height: 45px;
    border: none;
    border-radius: 9px;
    margin-top: 15px;
}